<div class="my-10">
  <p class="text-center text-5xl">
    Listado de Clientes
  </p>
</div>

<section class="container px-4 mx-auto">
  <div class="flex justify-end space-x-4">
    <div class="">
      <button (click)="navigateRegisterPerson()" class="bg-sky-500 p-3 rounded-xl text-yellow-50 hover:text-black">
        Nuevo Cliente
      </button>
    </div>
    <div class="">
      <button (click)="exportToExcel()" class="bg-green-500 p-3 rounded-xl text-yellow-50 hover:text-black">
        Exportar a Excel
      </button>
    </div>
  </div>

  <!-- component -->
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nombre y Apellidos</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Documento</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">N* Documento</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Celular</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Correo</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Direccion</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        @for (cli of cliente; track $index) {
        <tr class="hover:bg-gray-50">
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            <div class="relative h-10 w-10">
              <img class="h-full w-full rounded-full object-cover object-center" src="{{cli.profilePicture}}" alt="" />
              <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
            </div>
            <div class="text-sm">
              <div class="font-medium text-gray-700">{{cli.firstName}}</div>
              <div class="text-gray-400"> {{cli.lastName}} </div>
            </div>
          </th>
          <td class="px-6 py-4">
            <span
              class="inline-flex clis-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600">
              <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
              {{cli.documentType}}
            </span>
          </td>
          <td class="px-6 py-4">{{cli.documentNumber}}</td>
          <td class="px-6 py-4">
            <div class="flex gap-2">
              {{cli.phone}}
            </div>
          </td>
          <td class="px-6 py-4">
            <div class="flex gap-2">
              {{cli.email}}
            </div>
          </td>
          <td class="px-6 py-4">
            <div class="flex gap-2">
              {{cli.address}}
            </div>
          </td>
          <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
              <button (click)="verdatos(cli.clientId)">
                <div class="w-4 mr-2 transform hover:text-purple-500 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                </div>
              </button>

              <!--- Modal -->

              @if (mostardatos) {
              <!-- Agregamos backdrop-blur para desenfoque -->
              <div
                class="fixed inset-0  bg-opacity-50 backdrop-blur-md flex items-center clis-center justify-center z-50">
                <div class="bg-white rounded-lg p-8 h-[600px] w-[800px] shadow-2xl">
                  <h2 class="text-2xl font-bold mb-6 text-center">Información del Usuario</h2>
                  <div class="space-y-4">
                    <p><strong>Nombre:</strong> {{datosmodal?.firstName}}</p>
                    <p><strong>Apellidos:</strong> {{datosmodal?.lastName}}</p>
                    <p><strong>Tipo Documento:</strong> {{datosmodal?.documentType}}</p>
                    <p><strong>Número Documento:</strong> {{datosmodal?.documentNumber}}</p>
                    <p><strong>Teléfono:</strong> {{datosmodal?.phone}}</p>
                    <p><strong>Correo:</strong> {{datosmodal?.email}}</p>
                    <p><strong>Dirección:</strong> {{datosmodal?.address}}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{datosmodal?.birthDate}}</p>
                    <p><strong>Fecha de Registro:</strong> {{datosmodal?.registrationDate}}</p>
                    <p><strong>Estado Cliente:</strong> {{datosmodal?.clientStatus}}</p>
                  </div>
                  <div class="mt-8 flex justify-end">
                    <button
                      class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition-all duration-300"
                      (click)="cerrardatos()">
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
              }
              <button type="button" (click)="actualizarCliente(cli)">
                <div class="w-4 mr-2 transform hover:text-blue-500 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                  </svg>
                </div>
              </button>
              <button>
                <div class="w-4 mr-2 transform hover:text-red-500 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </div>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="flex clis-center justify-between mt-6">
    <a href="#"
      class="flex clis-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5 rtl:-scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>

      <span>
        previous
      </span>
    </a>

    <div class="clis-center hidden lg:flex gap-x-3">
      <a href="#" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60">1</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">2</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">3</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">...</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">12</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">13</a>
      <a href="#"
        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">14</a>
    </div>

    <a href="#"
      class="flex clis-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
      <span>
        Next
      </span>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5 rtl:-scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
    </a>
  </div>
</section>