<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md ">
    <h2 class="text-4xl pb-8 font-semibold text-center text-gray-700 capitalize ">Registrar Nuevo Usuario
    </h2>

    <form [formGroup]="loginFrom">
        <div class=" grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div>
                <label class="text-gray-700 font-medium">Nombre de Usuario</label>
                <input formControlName="usuario" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 font-medium">Contraseña</label>
                <input formControlName="password" type="password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
        </div>
    </form>
    <form action="" [formGroup]="clienteFrom">
        <div class=" grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div>
                <label class="text-gray-700 font-medium">Nombres</label>
                <input formControlName="nombres" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 font-medium">Apellidos</label>
                <input formControlName="apellidos" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 font-medium">Tipo de Documento</label>
                <select formControlName="tipoDocumento" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                <option value="" disabled selected>SELECCIONE UNA OPCION</option>
                <option value="DNI" class="font-medium">DOCUMENTO NACIONAL DE IDENTIFICACION</option>
                <option value="CNE" class="font-medium">CARNET DE EXTRAJERIA</option>
                </select>
                
            </div>
            <div>
                <label class="text-gray-700 font-medium">Numero de Documento</label>
                <input formControlName="numeroDocumento" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 font-medium" for="emailAddress">Correo Electronico</label>
                <input formControlName="correo" type="email"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-gray-700 font-medium">Numero de Celular</label>
                <input formControlName="telefono" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-gray-700 font-medium">Direccion</label>
                <input formControlName="direccion" type="text"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 font-medium">Fecha de Nacimiento</label>
                <input formControlName="fechaNacimiento" type="date"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div class="col-span-2">
                <label class="text-gray-700 font-medium">Imagen de Usuario</label>
                <input formControlName="fotoPerfil" type="file"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
       
            </div>
            <div class="flex justify-end  mt-6">
                <button
                    class="px-8 py-2.5 mr-6 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-red-600 focus:outline-none focus:bg-gray-600">Cancelar</button>
                <button type="reset"
                    class="px-8 py-2.5 mr-6 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-yellow-500 focus:outline-none focus:bg-gray-600">Limpiar</button>
                <button type="submit" (click)="guardarCliente()"
                    class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-gray-600">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</section>